.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #111;
  padding: 5px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .logo {
  margin: 10px 40px;
  padding: 5px 10px;
}

.navigation .logo a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  margin-left: 40px;
  padding-top: 20px;
  font-size: 20px;
}

.navigation .logo a .cart {
  color: #00ff00;
}

.navigation .met-store-menu {
  margin: 10px 40px;
  padding: 5px 10px;
}

.navigation .met-store-menu .nav-menu li {
  list-style: none;
  display: inline;
  padding-top: 20px;
  margin-left: 10px;
}

.navigation .met-store-menu .nav-menu li a {
  font-size: 16px;
}

.navigation .toggle {
  margin: 10px 40px;
  padding: 5px 10px;
  display: none;
}

.navigation .toggle .cancel {
  color: #fff;
  font-size: 18px;
}

.navigation .toggle .cancel:hover {
  color: #00ff00;
}

.navigation .toggle .bars {
  color: #fff;
  font-size: 18px;
}

.navigation .toggle .bars:hover {
  color: #00ff00;
}

.met-store-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100vw;
  background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #111;
}

.met-store-head .contacts {
  margin: 10px 40px;
  padding: 5px 10px;
}

.met-store-head .contacts ul li {
  list-style: none;
  display: inline;
  margin-left: 5px;
}

.met-store-head .contacts ul li .icons {
  color: #00ff00;
}

.met-store-head .contacts ul li span {
  margin-left: 5px;
}

.met-store-head .social-media {
  margin: 10px 40px;
  padding: 5px 10px;
}

.met-store-head .social-media ul li {
  list-style: none;
  display: inline;
  margin-left: 5px;
}

.met-store-head .social-media ul li a img {
  width: 20px;
  height: 20px;
}

.frm-register {
  margin-top: 40px;
}

@media (max-width: 960px) {
  .met-store-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    width: 100vw;
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .met-store-head .social-media {
    margin: 10px 20px;
    padding: 5px;
  }
  .met-store-head .contacts {
    margin: 10px 30px;
    padding: 5px;
  }
  .met-store-head .contacts ul li {
    list-style: none;
    display: inline;
    margin-left: 5px;
  }
  .met-store-head .contacts ul li .icons {
    color: #00ff00;
  }
  .met-store-head .contacts ul li span {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #111;
    padding: 5px 10px;
  }
  .navigation .logo {
    margin: 10px;
    padding: 3px;
  }
  .navigation .logo a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 15px;
  }
  .navigation .met-store-menu {
    display: none;
  }
  .navigation .toggle label .bars {
    display: block;
  }
}
/*# sourceMappingURL=custom-style.css.map */